@media(max-width:920px){
    .header-cont{
        justify-content: center;
        }
        .nav-content-list{
            flex-direction: column;
            width: 100%;
            height: 100vh;
            position: fixed;
            top: -100%;
            left: 0;
            z-index: 999;
            background: rgba(0, 0, 0, 0.8);
            transition: 0.5s;
            text-align: center;
        }
        .nav-content-list a{
            font-size: 30px;
            color: white;
        }
        .burger{
            display: block;
        }
        .burger:hover ~ .nav-content-list{
            top: 0;
        }
        .company-descr .title{
            text-align: center;
        }
        main{
            margin: auto;
        }
        .footer-nav{
            justify-content: center;
        }
    }
    @media (max-width:715px){
        .burger{
            right: 5%;
            top: 105%;
        }
    }
    @media(max-width:605px){
        .head{
            font-size: 30px;
        }
    }
    @media(max-width:450px){
        .head{
            font-size: 26px;
        }
        .theTeam .parag{
            font-size: 15px;
            padding: 0 15px;
        }
        .footer .title{
            font-size: 26px;
        }
        .parag{
            text-align: center;
        }
        .sect-bottom .left{
            padding: 0 80px 0;
        }
    }
